*{
  margin: 0;
  font-family: 'Roboto', sans-serif;

  font-size: 40px;
  color: #534666;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
  border-radius: 50%;
  padding: 0 15px 4px 8px;
  margin-bottom: 2px;
}
.logo {
    position: absolute;
    top: 2px;
    right: 15px;
    justify-content: space-between;
}
    .inner-logo {
      display: flex;
      font-style: italic;
      font-weight: bold;
      font-size: 25px;
      padding: 12px 5px;
      color: #C73866;
    }

.App-header {
  background-color: #041B2D;
  min-height: 6vh;

}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.background {
  background-image: url("../public/clock.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}

.wrapper h2 {
  margin: 0;
}

.break-session-length {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

button {
  border: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
}

div > button {
  color: white;
  background-color: #35BBCA;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div > button:hover {
  background-color: #E8B7D4;
  color: white;
}

div button:nth-child(2) {
  color: white;
  background-color: #DE5B6D;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
div button:nth-child(2):hover {
  background-color: #6AAB9C;
  color: white;
}

strong {
  margin: 0 8px;
}

.timer {
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
  padding-top: 10px;
}

.timer-wrapper > button {
  margin-left: 10px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
